@page
@model J3space.Abp.IdentityServer.Web.Pages.IdentityServer.Index

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
<div>
  <h1>Identity Server Index</h1>
</div>
</body>
</html>
