@page
@using J3space.Sample.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser
@inject IHtmlLocalizer<SampleResource> L

@{
  Layout = "./_Layout";
}

@section Head
{
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"
        rel="stylesheet" />
}

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div>
        @if (!CurrentUser.IsAuthenticated)
        {
          <a asp-page="/Account/Login">
            @L["Login"]
          </a>
        }
        else
        {
          <span>@CurrentUser.UserName</span>
          <a asp-page="/Account/Logout">
            @L["Logout"]
          </a>
        }
      </div>
    </div>
  </div>
</section>
