@page
@model J3space.Abp.Account.Web.Pages.Account.ForgotPasswordModel

<form class="box"
      method="post">
  <div class="has-text-centered is-size-3 mb-3">
    @L["ForgotPassword"].Value.TrimEnd('?')
  </div>

  <div class="block">
    @L["SendPasswordResetLink_Information"]
  </div>

  <input asp-for="ReturnUrl" />
  <input asp-for="ReturnUrlHash" />

  <div class="field">
    <label asp-for="Email"
           class="label">
      @L["DisplayName:Email"]
    </label>

    <div class="control">
      <input asp-for="Email"
             class="input">
    </div>
  </div>

  <div class="mb-4 pt-4">
    <div class="wrap-form-btn">
      <div class="form-btn-bg"></div>
      <button class="form-btn"
              type="submit">
        @L["Submit"]
      </button>
    </div>
  </div>
</form>

<style type="text/css">
  .input {
    border: 1px solid #d4d4d4;
  }
</style>
