@page
@model J3space.Abp.Account.Web.Pages.Account.PasswordResetLinkSentModel

<form class="box"
      method="post">
  <div class="has-text-centered is-size-3 mb-3">
    @L["ForgotPassword"].Value.TrimEnd('?')
  </div>

  <div class="block">
    @L["PasswordResetMailSentMessage"]
  </div>

  <a asp-all-route-data="@(new Dictionary<string, string> {{"returnUrl", Model.ReturnUrl}, {"returnUrlHash", Model.ReturnUrlHash}})"
     asp-page="./Login"
     class="button is-primary">
    @L["BackToLogin"]
  </a>
</form>
