@page
@model J3space.Abp.Account.Web.Pages.Account.ResetPasswordConfirmationModel

<div class="box">
  <div class="has-text-centered is-size-3 mb-3">
    @L["ResetPassword"]
  </div>

  <div class="block">
    @L["YourPasswordIsSuccessfullyReset"]
  </div>

  <a class="button is-primary"
     href="@Url.Content(Model.ReturnUrl)">
    @L["GoToTheApplication"]
  </a>
</div>
