/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
}

/*---------------------------------------------*/
a {
    font-size: 14px;
    line-height: 1;
    color: #666666;
    margin: 0;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    color: #a64bf4;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    font-size: 14px;
    line-height: 1;
    color: #666666;
    margin: 0;
}

ul, li {
    margin: 0;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}

textarea::-webkit-input-placeholder {
    color: #adadad;
}

textarea:-moz-placeholder {
    color: #adadad;
}

textarea::-moz-placeholder {
    color: #adadad;
}

textarea:-ms-input-placeholder {
    color: #adadad;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: url("/Pages/Account/background.jpg") no-repeat center;
    background-size: cover;
}

.wrap-login {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
}


/*------------------------------------------------------------------
[ Form ]*/

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-size: 40px;
    color: #333333;
    line-height: 1;
    text-align: center;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
}

.wrap-input .icon {
    font-size: 20px;
}

.input {
    font-size: 16px;
    color: #333333;
    line-height: 1;

    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px;
}

.wrap-checkbox {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 18px;
    margin: 17px 0 45px;
}

.wrap-checkbox a {
    margin-left: auto;
}

input[type="checkbox"] {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.remember-label {
    display: flex;
    align-items: center;
}

/*---------------------------------------------*/
.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.input:focus + .focus-input::before {
    width: 100%;
}

.input:valid + .focus-input::before {
    width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-login-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;

    box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
    -moz-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
    -webkit-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
    -o-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
    -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.login-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn {
    font-size: 16px;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login-form-btn:hover .login-form-bgbtn {
    left: 0;
}

/*//////////////////////////////////////////////////////////////////
[ Social item ]*/
.login-social-item {
    font-size: 35px;
    color: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.login-social-item:hover {
    font-size: 55px;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ iconfont ]*/

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.external {
    font-size: 14px;
    line-height: 1;
    color: #666666;
}

.local {
    font-size: 14px;
    line-height: 1;
    color: #333333;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.m-b-23 {
    margin-bottom: 23px;
}

.p-l-55 {
    padding-left: 55px;
}

.p-r-55 {
    padding-right: 55px;
}

.p-t-65 {
    padding-top: 65px;
}

.p-b-54 {
    padding-bottom: 54px;
}

.p-b-49 {
    padding-bottom: 49px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-t-25 {
    padding-top: 25px;
}

.flex-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.flex-col-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}

/*//////////////////////////////////////////////////////////////////
[ background bubbles ]*/

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 20s infinite;
    animation: square 20s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 30s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 30s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        transform: translatey(0);
    }

    100% {
        transform: translatey(-110vh) rotate(720deg);
    }
}

@keyframes square {
    0% {
        transform: translatey(0);
    }
    100% {
        transform: translatey(-110vh) rotate(720deg);
    }
}

/*//////////////////////////////////////////////////////////////////
[ notification ]*/

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0; }
    to {
        visibility: visible;
        opacity: 1; } }

.notify {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 20px;
    color: #e2dede;
    line-height: 1;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    visibility: hidden;
    opacity: 0;
    max-width: 350px;
    margin: 20px 0;
    top: 0;
    right: 0;
    animation: fade-in 1s ease-in-out forwards, fade-in 1s ease-in-out reverse forwards 3s;
    background-color: #ef5350;
}

.notify:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin-right: 10px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 3.984c4.407 0 8.016 3.609 8.016 8.016 0 4.406-3.608 8.016-8.016 8.016S3.984 16.407 3.984 12 7.593 3.984 12 3.984m0-2C6.478 1.984 1.984 6.477 1.984 12c0 5.521 4.493 10.016 10.016 10.016S22.016 17.522 22.016 12c0-5.523-4.495-10.016-10.016-10.016zm0 2c4.407 0 8.016 3.609 8.016' fill='%23C71612'/%3E%3Cpath d='M13.406,12l2.578,2.578l-1.406,1.406L12,13.406l-2.578,2.578l-1.406-1.406L10.594,12L8.016,9.421l1.406-1.405L12,10.593 l2.578-2.577l1.406,1.405L13.406,12z' fill='%23C71612'/%3E%3C/svg%3E") center/cover no-repeat;
}
