* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
!important;
}

.el-header {
    height: 60px;
    background: rgba(78, 76, 80, 0.5);

    display: grid;
    align-content: center;
    grid-template-columns: 1fr 2fr 1fr;
}
