@using J3space.Sample.Pages.Shared.Components.Brand
@using J3space.Sample.Pages.Shared.Components.NavbarMenu
@using J3space.Sample.Pages.Shared.Components.Profile
@{
  Layout = "Empty";
}

<div class="el-container is-vertical">
  <nav class="el-header">
    <div class="my-app-name"
         style="align-self: center">
      @(await Component.InvokeAsync<BrandViewComponent>())
    </div>
    <div style="justify-self: center;align-self: center">
      @(await Component.InvokeAsync<NavbarMenuViewComponent>())
    </div>
    <div style="justify-self: right;align-self: center">
      @(await Component.InvokeAsync<ProfileViewComponent>())
    </div>
  </nav>
  <main class="el-main">
    @RenderBody()
  </main>
</div>
