name: dev

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.6.0

    - name: dotnet build
      run: |
        dotnet restore
        dotnet build -c Release

    - name: dotnet test
      run: dotnet test
